<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 customer-list-container">
                <h3 class="text-center mt-3">Sohbetler</h3>
                <hr>
                <input type="text" id="searchInput" class="form-control mt-3" placeholder="Müşteri Ara">
                <table>
                    <!-- notification -->
                    <audio id="notificationSound" autoplay>
                        <source src="/static/audio/arriving.mp3" type="audio/mpeg">
                    </audio>
                    <!-- notification -->
                    <button id="notificationSoundButton" style="display: none;"></button>
                    <tbody id="customer-list">
                        <% customers.reverse().forEach(customer => { %>
                            <tr class="d-flex justify-content-between border-bottom p-2 allCustomer" id="<%= customer.id %>">
                                <td class="customerList" dataId="<%= customer.id %>">
                                    <% if (messages.find(message => message.customerId === customer.id && message.isRead === false)) { %>
                                        <span class="unread"></span>
                                    <% } %>
                                    <span id="customerName" class="customerName"> <%= customer.name %></span>
                                    <p class="last-message" style="word-wrap: break-word; max-width: 150px;">
                                        <% const customerMessages = messages.filter(message => message.customerId === customer.id); %>
                                        <% if (customerMessages.length > 0) { %>
                                            <%= customerMessages[customerMessages.length - 1].message %>
                                        <% } %>
                                    </p>
                                </td>
                                <td>
                                    <form action="/admin" method="POST" class="delete-form">
                                        <input type="hidden" name="id" value="<%= customer.id %>">
                                        <button type="submit" class="deleteCustomer btn btn-sm btn-danger">X</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-9 chat-container">
                <div class="support-chat-widget" id="chat-widget">
                    <div class="chat-header d-flex">
                        <h4 class="text-center">Destek Paneli</h4>
                        <button id="close-support-chat" class="btn text-light">X</button>
                    </div>
                    <div class="chat-body">
                        <ul id="messages"></ul>
                        <div id="typingIndicator" style="display:none;"></div>
                        <div class="scroll-bottom">
                            <i class="bi bi-arrow-down-circle"></i>
                        </div>

                        <emoji-picker class="support-emoji-picker"></emoji-picker>
                        <button id="endChatButton" class="btn btn-danger">Sohbeti Sonlandır</button>

                        <form id="form" action="" class="float-start">
                            <div class="input-group">
                                <input id="input" autocomplete="off" class="form-control message messageInput" placeholder="Mesajınız" >
                                <button type="button" id="emojiButton" class="btn btn-outline-secondary"><i class="bi bi-emoji-smile"></i></button>
                                <input type="file" id="fileInput" class="form-control" style="display: none;">
                                <button type="button" id="fileButton" class="btn btn-outline-secondary"><i class="bi bi-paperclip"></i></button>
                            </div>
                            <button type="submit" class="btn btn-primary w-100 mt-1">Gönder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/adminChat.js"></script>
    <script src="/static/js/searchBar.js"></script>
    <script src="/static/js/emoji.js"></script>

</body>
</html>
