<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/nav') %>
    <div class="container mt-5">
        <div class="row">
            <h4 class="text-center"><b>Destek Ekibi</b></h4>
            <table class="table table-bordered">
                <thead>
                  <tr>
                   <th>İsim</th>
                   <th>Email</th>
                   <th>Rol</th>
                   <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% supports.forEach(support => { %>
                        <tr>
                           <td><%= support.name %></td>
                           <td><%= support.email %></td>
                           <td>burayı yap</td>
                           <td>
                            <form method="post" action="/admin/delete-support/<%= support.id %>">
                                <button type="submit" class="btn "><i class="bi bi-trash" style="color: red; font-size: 20px;"></i></button>
                            </form>
                        </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('../partials/script') %>
 
</body>
</html>
