<!DOCTYPE html>
<html lang="en">
<%- include('../../../partials/head') %>

<body>
    <%- include('../../../partials/nav') %>
    <div class="container mt-5">
        <div class="row">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                    <th>Mesaj</th>
                    <th>Durum</th>
                    <th><a href="/admin/suggestion-create" class="btn text-success float-end">Yeni mesaj ekle</a></th>
                    </tr>
                </thead>
                <tbody>
                    <% suggestions.forEach(suggestion => { %>
                        <tr>
                            <td><%= suggestion.message %></td>
                            <td>
                                <%= suggestion.isVisible == 1 ? "Yayında" : "Yayında Değil"%>
                            </td>
                            
                            <td class="d-flex justify-content-around">
                                <a href="/admin/delete-suggestion/<%= suggestion.id %>" class="btn"><i class="bi bi-trash" style="font-size: 20px;"></i></a>
                                <a href="/admin/edit-suggestion/<%= suggestion.id %>" class="btn"><i class="bi bi-pencil-square" style="font-size: 20px;"></i></a>
                            </td>
                            </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('../../../partials/script') %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/socketSupportConnect.js"></script>
</body>
</html>
