<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>
<link rel="stylesheet" href="/static/css/auth.css">
<body>
    <%- include('../../partials/nav') %>
    <h2 class="mt-5"><% title %></h2>
   
    <form method="post">
      <div class="container">
        <div>
          <label for="suggestedMessage">Mesaj</label><br>
          <input type="text" id="suggestedMessage" name="suggestedMessage" required value="<%= message %>">
          <label for="isVisible">Yayınla</label>
          <input type="checkbox" name="isVisible" id="isVisible" <%= isVisible ? "checked":"" %>>
        </div><br>
        <div class="d-flex justify-content-between">
            <button type="submit">Güncelle</button>
        </div>
      </div>
    </form>
    <%- include('../../partials/script') %>
</body>
</html>